/*
Error: Undefined variable: "$theme-font-base".
        on line 43 of /src/components/navigation.scss

38:   &:last-child {
39:     border-bottom-width: 0px;
40:   }
41: }
42: .main-navigation li > a {
43:   font-family: $theme-font-base;
44:   -webkit-font-smoothing: antialiased;
45:   font-weight: normal;
46:   font-size: $theme-type-size-base;
47:   text-align: left;
48:   color: $theme-nav-1;

Backtrace:
/src/components/navigation.scss:43
/usr/local/bundle/gems/sass-3.4.13/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `map'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/engine.rb:368:in `_render_with_sourcemap'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/engine.rb:285:in `render_with_sourcemap'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/usr/local/bundle/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `block in watch'
/usr/local/bundle/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:252:in `call'
/usr/local/bundle/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/usr/local/bundle/gems/sass-3.4.13/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/usr/local/bundle/gems/sass-3.4.13/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/usr/local/bundle/gems/sass-3.4.13/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/usr/local/bundle/gems/sass-3.4.13/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$theme-font-base\".\A         on line 43 of /src/components/navigation.scss\A \A 38:   &:last-child {\A 39:     border-bottom-width: 0px;\A 40:   }\A 41: }\A 42: .main-navigation li > a {\A 43:   font-family: $theme-font-base;\A 44:   -webkit-font-smoothing: antialiased;\A 45:   font-weight: normal;\A 46:   font-size: $theme-type-size-base;\A 47:   text-align: left;\A 48:   color: $theme-nav-1;"; }
